@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.wb-image {
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  img[lazy='error'] {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    vertical-align: bottom;
    &[lazy='loaded'] {
      animation: fadeIn 0.8s;
    }
  }
  .img {
    object-fit: cover;
    object-position: center center;
  }
  &__shape {
    &--circle {
      border-radius: 50%;
      overflow: hidden;
    }
  }
}
