.wb-button {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}

.wb-button--primary {
  color: white;
  background-color: #1ea7fd;
}

.wb-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}

.wb-button--small {
  font-size: 12px;
  padding: 10px 16px;
}

.wb-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}

.wb-button--large {
  font-size: 16px;
  padding: 12px 24px;
}.wb-empty {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wb-empty__text {
  margin-top: 24px;
  font-weight: 500;
  color: #999999;
  font-size: 26px;
}@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.wb-image {
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  position: relative;
}
.wb-image img[lazy=error] {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.wb-image img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  vertical-align: bottom;
}
.wb-image img[lazy=loaded] {
  animation: fadeIn 0.8s;
}
.wb-image .img {
  object-fit: cover;
  object-position: center center;
}
.wb-image__shape--circle {
  border-radius: 50%;
  overflow: hidden;
}.wb-list-empty {
  margin-top: 100px;
}
.wb-list-error {
  margin-top: 100px;
}
.wb-list-error__retry {
  width: 200px;
  margin: auto;
  padding: 8px 10px;
  font-size: 28px;
  color: #0078ff;
  border: 2px solid #0078ff;
  border-radius: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.wb-list-content--flex {
  display: flex;
  flex-wrap: wrap;
}
.wb-list-no-more {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}
.wb-list-loading {
  text-align: center;
  padding: 30px 0;
}.wb-load {
  text-align: center;
}.wb-loading {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wb-loading__spinner {
  position: relative;
  display: inline-block;
  width: 30px;
  max-width: 100%;
  height: 30px;
  max-height: 100%;
  vertical-align: middle;
  animation: wb-rotate 1s linear infinite;
}
.wb-loading__circular {
  display: block;
  width: 100%;
  height: 100%;
}
.wb-loading__circular circle {
  animation: wb-circular 2s ease-in-out infinite;
  stroke: currentColor;
  stroke-width: 3;
  stroke-linecap: round;
}

@keyframes wb-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes wb-circular {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -40;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -120;
  }
}.wb-transition-box {
  display: flex;
  overflow-x: auto;
  position: relative;
}
.wb-transition-box::-webkit-scrollbar {
  width: 0 !important;
  height: 0;
}